


<div><h1>Bonjour <%= @user.prenom %> </h1></div>


<div class="container">
  <div class="card-meteo">météo
    <div id="ville">Marseille</div>
    <div id="meteo"></div>
    <img class="img-meteo" src="" alt="">
  </div>
</div>
<div class="container d-flex">
  <div class="card-chantier ">
    <div class="card-chantier-interieur"><%= @chantiersencours %></div>
    <div class="card-chantier-interieur"><%= @chantiersavenir %></div>
  </div>
  <div class="card-tache">tâches</div>
  <div></div>
</div>
<div>Tâche du jour en exterieur</div>
<div>planning rdv</div>
<div>charge de travail</div>
<div>zone recherche</div>
