<div class="container">
  <div class="rows"><div><h1>Bonjour <%= @user.prenom  %></h1></div>
</div>
<div class="tblx-dash-jour d-flex justify-space-between">
  <div>
    <p class="titre-chantier"><i class="fas fa-tools p-1"></i><%= link_to "Tes chantiers", chantiers_path, class: "couleur-chantier" %></p>
    <div class="d-flex">
      <div class="card-chantiers">
        <div>
          <p class="chantier-cours"><%= @chantiersencours %></p>
          <p class="desc-chantier-cours">en cours</p>
        </div>
        <div>
          <p class="chantier-venir"><%= @chantiersavenir %></p>
          <p class="desc-chantier-venir">en attente</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ctnr-meteo">
    <p class="titre-meteo"><i class="fas fa-cloud-sun p-1"></i>ta Météo</p>
    <div>
      <div class="card-meteo">
        <img class="img-meteo">
        <div id="meteo"><div id="ville"><% @user.adresse %></div></div>
      </div>
    </div>
  </div>
</div>
<div class="chargew dflex">
  <p class="titre-chargew"><i class="fas fa-user-cog p-1"></i>ta charge de travail</p>
  <div class="curseur">
    <label for="range">
      <input type="range" name="range" id="range" min="0" max="300" step="5" value="175"/>
    </label>
    <output for="range" class="output"></output>
  </div>
  <div class="charge-w-option"></div>
</div>
<hr class="ligne-separate">
<div class="ctnr-alertes">
    <p class="titre-alertes"><i class="fas fa-exclamation-triangle p-1"></i>tes alertes</p>
    <div>
      <div class="card-alerte m-2">
      <p>notification 1</p>
      </div>
    </div>
</div>

<div class="ctnr-taches">
    <p class="titre-taches"><i class="fas fa-wrench p-1"></i>tes tâches du jour</p>
    <div>
      <div class="card-tache m-2">
      <p>tâche 1</p>
      </div>
      <div class="card-tache m-2">
      <p>tâche 2</p>
      </div>
      <div class="card-tache m-2">
      <p>tâche 3</p>
      </div>
    </div>
</div>
</div>
