<div><h1>Bonjour</h1></div>

<div class="container">
<div class="card-meteo">météo</div>
</div>
<div class="container d-flex">
  <div class="card-chantier ">
  <div class="card-chantier-interieur">Chantier en cours</div>
  <div class="card-chantier-interieur">Chantier à venir</div>
 </div>
  <div class="card-tache">tâches</div>
  <div></div>

</div>
<div>Tâche du jour en exterieur</div>
  <div>planning rdv</div>
