.user {
  color: #2f999e;
}

.titre-progression {
  margin: 0px;
  color: #0f395f;
}

.adresse {
  color: #2f999e;
  justify-content-center: center;
  margin: 0px;
  color: #0f395f;
}

.titre-tache {
  margin: 0px;
  color: #0f395f;
}

.titre-photo {
  margin: 0px;
  color: #0f395f;
}

.tache {
  margin: 0px;
  color: #cd5e15;
  font-size: 15px;
}

.desgn-tache {
  background-color: white;
  box-shadow: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 75%;
  font-weight: bold;
}

.btn-tache {
  background-color: #cd5e15;
  border-color: #cd5e15;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-modif-chantier {
  background-color: #cd5e15;
  border-color: #cd5e15;
  margin-top: 20px;
  margin-left: 5px;
  color: black;
}
