.user {
  color: #2f999e;
}

.titre-progression {
  margin: 0px;
  color: #0f395f;
}

.adresse {
  color: #2f999e;
  justify-content-center: center;
}

.titre-tache {
  margin: 0px;
  color: #0f395f;
}

.tache {
  margin: 0px;
  color: #cd5e15;
  font-size: 15px;
}

.desgn-tache {
  background-color: white;
  box-shadow: 2px;
}
