@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

h1 {
  color: #0f395f;
  font-size: 20px;
  justify-content: center;
  font-family:  'Rubik', sans-serif;
  padding-top: 10px;
}

#title-artisan {
font-size: 30px;
margin: 19px auto;
}

h2 {
  color: white;
}

.ligne-separate {
  border: 1px solid #cd5e15;
}

.titre-meteo  {
  margin: 0px;
  color: #0f395f;
}

.titre-chantier {
  margin: 0px;
  color: #0f395f;
}

.titre-chargew {
  margin: 0px;
  color: #0f395f;
}

.titre-taches {
  margin: 0px;
  color: #0f395f;
}

.titre-alertes {
  margin: 0px;
  color: #0f395f;
}

.img-meteo {
  max-width: 46%;
  height: auto;
}

.chantier-cours {
  font-family: 'Rubik', sans-serif;
  color: #cd5e15;
  font-size: 40px;
  padding-left: 5px;
  margin: 0px;
}

.chantier-venir {
  font-family: 'Rubik', sans-serif;
  color: #2f999e;
  font-size: 40px;
  padding-left: 10px;
  margin: 0px;
}

.desc-chantier-cours {
  font-family: 'Rubik', sans-serif;
  color: #cd5e15;
  font-size: 15px;
  padding-left: 5px;
  margin: 0px;
}

.desc-chantier-venir {
  font-family: 'Rubik', sans-serif;
  color: #2f999e;
  font-size: 15px;
  padding-left: 10px;
  margin: 0px;
}

.couleur-chantier {
  color: #0f395f;
}

.sms {
  color: #cd5e15;
  font-size: 30px;
}

.card-alerte {
  padding: 0px;
}

.alerte-tache {
  background-color: white;
  font-weight: bold;
  padding: 10px;
  color: #cd5e15;
}

.desgn-tache {
  color: #cd5e15;
  padding: 15px !important;
}


.minutes-depassees {
  color: #cd5e15;
  margin: 0;
  font-weight: bolder;
  padding: 15px;
  background-color: white;
}

.minutes-restantes {
  color: #cd5e15;
  margin: 0;
  font-weight: bolder;
  padding: 15px;
  background-color: white;



}


.chantier-venir, .chantier-cours {
  font-size: 55px;
}

.titre-alertes, .titre-taches {
  font-weight: bolder;
}

body {
  background-color: rgba(240,240,240,1);
}
