// Specific CSS for your home-page

body {
 background-color: #d5d5d5;
}


h1 {
  display: flex;
  color: black;
  font-size: 20px;
  justify-content: left;
  font-size: 10px;

}

.content  {
  height: calc( 100vh - 66px - 66px);
}

.btn-home {
  background-color: #cd5e15;
  border-color: #cd5e15;
  margin-top: 90px;
}

.btn-inscription {

}
