.fiche-chantier-client {
  border: 3px solid #cd5e15;
}

.aj-chantier {
  text-align: center;
}

.ligne-separate {
  border: 1px solid #cd5e15;
}

.color-lien {
  color: #cd5e15;
}

.bi-pencil-square {
  margin-bottom: 0px;
}
