<div class="mbottom content">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <i class="far fa-3x fa-calendar-alt"></i>
    </div>
    <div>
      <i class="fas fa-3x fa-user-cog"></i>
    </div>
    <div>
      <i class="fas fa-5x fa-tachometer-alt"></i>
    </div>
    <div>
      <i class="fas fa-3x fa-exclamation-triangle"></i>
    </div>
    <div>
      <i class="fas fa-3x fa-tasks"></i>
    </div>
  </div>
</div>
