<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1518003110675-9397e7db425c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2247&q=80);">
  <div class="container">
    <h1><strong>ton tableau de bord</strong></h1>
    <h1>clients, agenda, tâches, devis, factures </h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
     <i class="bi bi-tools" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"></i>
  <a>facilitateur de ton quotidien ...</a>
  </div>
</div>
