<div class="banner">
  <div class="container">
    <h1><strong>ton quotidien à portée de main</strong></h1>
    <p>Tableau de bord avec <span id="banner-typed-text"></span></p>
    <% if user_signed_in? %>
      <button type="button" class="btn-home btn btn-info">Bienvenue !</button>
    <% else %>
      <div  class="btn-inscription">
        <%= link_to new_user_session_path do %>
          <button type="button" class="btn-home btn btn-info">Je m'inscris !</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <%= render 'shared/footer' %>
