<div class="banner">
  <div class="container">
    <h1><strong>ton quotidien à portée de main</strong></h1>
    <p>Tableau de bord : clients, agenda, tâches, devis, factures </p>
     <p>
      <span id="banner-typed-text">test</span>
    </p>
    <div  class="btn-inscription">
      <a class="btn-home btn btn-info btn-lg" href="#">Inscris-toi !</a>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
