.button-recherche {
  padding-left: 29px;
  padding-right:  29px;
}

.button-retour {
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  letter-spacing: 2px;
}

.button-retour-form {
  color: black;
  font-weight: bold;
  position: absolute;
  letter-spacing: 2px;
}

.button-formulaire {
  padding-left: 29px;
  padding-right:  29px;
}
