.mbottom {
  background-color: #cd5e15;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0px 15px;
  color: white;
  color: rgba(0,0,0,0.3);
  width: 100%;
  z-index: 200;
  position: fixed;
}

.fa-tachometer-alt {
  color: white;
}

.icone-menu {
  padding-right: 4px;
  height: 35px;
}

.icone-menu-2 {
  padding-right: 4px;
  height: 35px;
}

.icone-separate {
  border: 1px solid #d5d5d5;
  height: 55px;
  margin: 4px;
  opacity: 0.7;
}
