.navbar-lewagon {
  justify-content: space-between;
  background: #0f395f;
  border-bottom-color: #2f999e;
  border-bottom: 5px solid #2f999e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  color: white;
  font: bold 24px/1 sans-serif;
}

.logo:hover {
  color: #ee680f;
}
