.form-show {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .champ {
    padding-left: 10px;
  }
  .case {
    line-height: 1.2px;
    margin-bottom: 5px;
  }
  .btn {
    margin-bottom: 20px
  }
}
.input {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}
